@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #64748B;
  --color-accent: #22C55E;
  --color-background: #FFFFFF;
  --color-text: #0F172A;
}

@layer base {
  html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply bg-background text-text font-sans;
  }
}
